@model IEnumerable<ETicaret.Web.Areas.Admin.Models.KategoriIndexModel>

@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Kategoriler</h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "Olustur")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sira)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunSayisi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="item_@item.Id">
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ResimYol)" width="75" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunSayisi)
            </td>
            <td>
                <a href="~/admin/categories/duzenle/@item.Id" class="btn btn-info" title="Düzenle"><i class="fa fa-pencil"></i></a>
                <button type="button" class="btn btn-danger btnSil" data-id="@item.Id" title="Sil"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    }
</table>
@section scripts{
    <script>
        $(".btnSil").click(function () {
            var id = $(this).attr("data-id");
            if (confirm("Emin misin?")) {
                $.ajax({
                    url: '/admin/categories/sil/' + id,
                    type: 'get',
                    success: function (result) {
                        $("#item_" + id).remove();
                    }
                });
            }
        })
    </script>
}
