@model IEnumerable<ETicaret.Web.Areas.Admin.Models.BlogIndexModel>

@{
    ViewBag.Title = "Blog";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Blog</h2>

<p>
    @Html.ActionLink("Yeni Yazı Ekle", "Olustur")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr id="item_@item.Id">
        <td>
            <img src="@Html.DisplayFor(modelItem => item.PictureUrl)" width="75" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            <a href="~/admin/posts/duzenle/@item.Id" class="btn btn-info" title="Düzenle"><i class="fa fa-pencil"></i></a>
            <button type="button" class="btn btn-danger btnSil" data-id="@item.Id" title="Sil"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
}

</table>
@section scripts{
    <script>
        $(".btnSil").click(function () {
            var id = $(this).attr("data-id");
            if (confirm("Emin misin?")) {
                $.ajax({
                    url: '/admin/posts/sil/' + id,
                    type: 'get',
                    success: function (result) {
                        $("#item_" + id).remove();
                    }
                });
            }
        })
    </script>    
}
